NET "CLK" LOC = P94;

NET "START" LOC = P114;
NET "RES" LOC = P112;
NET "ENDC" LOC = P111;
NET "STARTREAD" LOC = P65;
NET "DATA_READY" LOC = P64;

NET "DATAIN[0]" LOC = P134;
NET "DATAIN[1]" LOC = P133;
NET "DATAIN[2]" LOC = P132;
NET "DATAIN[3]" LOC = P131;
NET "DATAIN[4]" LOC = P127;
NET "DATAIN[5]" LOC = P126;
NET "DATAIN[6]" LOC = P124;
NET "DATAIN[7]" LOC = P123;
NET "DATAIN[8]" LOC = P121;
NET "DATAIN[9]" LOC = P120;
NET "DATAIN[10]" LOC = P119;
NET "DATAIN[11]" LOC = P118;
NET "DATAIN[12]" LOC = P117;
NET "DATAIN[13]" LOC = P116;
NET "DATAIN[14]" LOC = P115;

NET "DATAOUT[0]" LOC = P66;
NET "DATAOUT[1]" LOC = P67;
NET "DATAOUT[2]" LOC = P69;
NET "DATAOUT[3]" LOC = P70;
NET "DATAOUT[4]" LOC = P74;
NET "DATAOUT[5]" LOC = P75;
NET "DATAOUT[6]" LOC = P78;
NET "DATAOUT[7]" LOC = P79;
NET "DATAOUT[8]" LOC = P80;
NET "DATAOUT[9]" LOC = P81;
NET "DATAOUT[10]" LOC = P82;
NET "DATAOUT[11]" LOC = P83;
NET "DATAOUT[12]" LOC = P84;
NET "DATAOUT[13]" LOC = P85;
NET "DATAOUT[14]" LOC = P87;
NET "DATAOUT[15]" LOC = P88;


